
<div class="wrapper">
	<div class="button button4"><%= link_to 'MLB', leagues_season_path(:league => "mlb", :season => "2017-regular") %></div>
	<div class="button button1"><%= link_to 'NBA', leagues_season_path(:league => "nba", :season => "2016-2017-regular") %></div>
	<div class="button button2"><%= link_to 'NFL', leagues_season_path(:league => "nfl", :season => "2017-regular") %></div>
	<div class="button button3"><%= link_to 'NHL', leagues_season_path(:league => "nhl", :season => "2016-2017-regular") %></div>
	
</div>