<div class="wrapper">
    <button class="button button3">NHL</button>
    <button class="button button4">MLB</button>
</div>

<div class="wrapper">
    <div class="button button1"><%= link_to 'NBA', leagues_season_path(:league => "nba", :season => "2016-2017") %></div>
    <div class="button button2"><%= link_to 'NFL', root_path %></div>
</div>