<h1 class="season_title"><%=params[:league].upcase%>  <%=params[:season].sub(/-(?!.*-).*$/,'')%></h1>
	
	<% if params[:league] != "nhl" %>
		<%= render :file => "/leagues/divisionStandingsPartials/_notnhl-standings.html.erb" %>
	<% elsif params[:league] == "nhl" %>
		<%= render :file => "/leagues/divisionStandingsPartials/_nhl-standings.html.erb" %>
	<% end %>

