<h1>hello</h1>


<%# @games.each do |h,v|%>
	<%# homeTeam = v['gamelogs'][0]['game']['homeTeam']['Abbreviation']%>
	<%# homePTS = v['gamelogs'][0]['stats']['Pts']['#text']%>

	<%# awayTeam = v['gamelogs'][0]['game']['awayTeam']['Abbreviation']%>
	<%# awayPTS = v['gamelogs'][0]['stats']['PtsAgainst']['#text']%>
		
		

	<br/>
	<div><%#= homeTeam %> : <%#=homePTS%></div>
	<div><%#=awayTeam%> : <%#=awayPTS%></div>
	<br/>
	<%#end%>