<div class="pic_show"><h2>Selected Photo</h2><br>
<%=image_tag @pic.image.url(:large)%><br>
<p>Description: <%= @pic.description%></p><br>

<% if current_user.id == @pic.user_id %>
			<%= link_to 'Edit Picture', edit_picture_path %>
		<% else %>
<% end %>

</div>