// ------- Uni Page styling -------

#bodyBoxscore{
	background-color: lightgrey;
}

.headliner {
	margin: 20px auto;
	text-align: center;
	border: 1px solid black;
	padding: 20px 5px;
	width: 90%;
	height: 120px;
	background-color: white;
	dislay: block;
}

#statsBox {
	margin: 0 auto;
	border: 1px solid black;
	padding: 20px;
	width: 90%;
	background-color: white;
}

.player {
	width: 200px;
}

.playerStats {
	width: 200px;
}

.quarterScore {
	display: inline-block;
	width: 35%;
	text-align: center;
	font-size: 10px;
}

// Team name and total score 
.homeAway {
	font-size: 12px;
}
.teamCity {
	font-size: 24px;
}
.teamName {
	font-size: 18px;
}
.Score{
	display: inline-block;
	font-size: 18px;
	// line-height: 120px;
	// margin-left: 10%;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

table, th, td {
	text-align: left;
	// padding: 10px;
	border-collapse: collapse;
    // border: 1px solid black;
}

// ------ Away Team --------
// --Away teams stats table
#awayPlayersTable {
	width: 98%;
	margin: 10px 1%;
}

.awayScore{
	display: inline-block;
	font-size: 14px;
	// line-height: 120px;
	// margin-right: 1%;
	// margin-left: -10%;
}

// ------ Home Team --------

#homePlayersTable {
	width: 98%;
	margin: 10px 1%;
}

#Team {
	// position: absolute;
	// top: 130px;
	// right: 250px;
	// right: 15%;
	width: 15%;
	padding: 15px;
	display: inline-block;
	color: grey;
	// margin-left: 1%;
}

// Baseball scoreboard
#baseballScoreBoard{
	width: 91%;
	padding: 20px 5px;
}

// Hockey scorebaord
.hockeyScore{
	display: inline-block;
	// width: 30%;
	text-align: center;
	font-size: 10px;
}
#hockeyScoreBoard{
	width: 30%;
	
	table{
		margin: 0 auto;
	}
}

// Football Scoreboard
.footballScore{
	display: inline-block;
	// width: 35%;
	text-align: center;
	font-size: 10px;
}
#footballScoreBoard{
	width: 30%;
	
	table{
		margin: 0 auto;
	}
}
// team text in stat sheet
#text {
	font-size:24px;
}