// ------- Uni Page styling -------

#bodyBoxscore{
	background-color: lightgrey;
}

#statsBox {
	margin: 0 auto;
	border: 1px solid black;
	padding: 20px;
	width: 90%;
	background-color: white;
}

.headliner {
	margin: 20px auto;
	text-align: center;
	border: 1px solid black;
	padding: 20px;
	width: 90%;
	height: 120px;
	background-color: white;
}

.player {
	width: 200px;
}

.playerStats {
	width: 200px;
}

.quarterScore {
	display: inline-block;
	width: 300px;
	text-align: center;
	font-size: 14px;
}
.homeAway {
	font-size: 12px;
}
.teamCity {
	font-size: 32px;
}
.teamName {
	font-size: 22px;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

table, th, td {
	text-align: left;
	padding: 10px;
	border-collapse: collapse;
    // border: 1px solid black;
}

// ------ Away Team --------

#awayPlayersTable {
	width: 98%;
	margin: 10px 1%;
}

#awayTeam{
	position: absolute;
	top: 130px;
	left: 250px;
	width: 200px;
	display: inline-block;
}

.awayScore{
	display: inline-block;
	font-size: 40px;
	line-height: 120px;
}

// ------ Home Team --------

#homePlayersTable {
	width: 98%;
	margin: 10px 1%;
}

#homeTeam {
	position: absolute;
	top: 130px;
	right: 250px;
	width: 200px;
	display: inline-block;
}

.homeScore{
	display: inline-block;
	font-size: 40px;
	line-height: 120px;
}



