// Homepage
.background{
    background: image-url('grasslite.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 1;
}


.wrapper {
    width: 55vw;
    height: 55vw;
    margin: 10vh auto;
}

.button {
    // background-color: #4CAF50;
    float: left;
    // position: inline-block;
    border: none;
    width: 25vw;
    height: 25vw;
    border-radius: 0%;
    // margin: 2vw;
    text-align: center;
    line-height: 25vw;
    text-decoration: none;
    font-size: 10vw;
    background-color: $nav-color;
    opacity: 0.8;
    border: solid white;
    transition: background-color 0.5s ease-out, border-bottom 0.5s ease-out;
    
}

.button:hover {
transition: background-color 0.6s ease-in, border-bottom 0.6s ease-in;
background-color: black;
}

.button a {
    text-decoration: none;
    // padding: 5vh 2vh;
    margin-top: 5vh;
    color: white;
    transition: color 0.5s ease-out, border-bottom 0.5s ease-out;
}

.button a:hover {
    transition: -webkit-text-stroke-color 0.6s ease-in,
    border-bottom 0.6s ease-in;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $nav-color;

}

// .button1 {
//     background-color: blue;
    
// }

// .button2 {
//     background-color: green;
// }

// .button3 {
//     background-color: pink;
// }

// .button4 {
//     background-color: orange;
// }
