.font {
	color: blue;
	text-decoration: none;
	
}

.l {
	color: red;
	display: inline-block;
}

p {
    font-family: $font-stack;
    display: inline-block;
}

.team {
	color: blue
}

.where {
	color: black;
	display: inline-block;
}


// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
