// ---------Modal 1 - sign_in ------------

// login modal
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	width: 43%;
	max-width: 100%;
	height: 50%;
	max-height: 100%;
	background-color: black;
	border: 2px solid;
	z-index: 200;
}

.modal2 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	width: 43%;
	max-width: 100%;
	height: 50%;
	max-height: 100%;
	background-color: black;
	border: 2px solid;
	z-index: 200;
}

#modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}

.close {
	position: absolute;
    padding: 3px;
    margin: 2px;
    right: 0;
    background: rgba(0,0,0,.1);
    color: black;
	z-index: 1;
}
.close:hover {
    border: 1px solid black;
}



// sign in modal styling
.signin-box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	border-radius: 5px; // padding: 10px;
	border: 1px solid #5F5F5F;
	box-shadow: 0 8px 12px black;
	background-color: lightgrey;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	font-family: $font-stack;
	color: #2F4F4F;
	line-height: 8vh;
	a {
		text-decoration: none;
		text-transform: uppercase;
		color: #2F4F4F;
		font-family: $font-stack;
	}
}
// sign up modal styling

.signup-box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	border-radius: 5px;
	border: 1px solid #5F5F5F;
    box-shadow:0 8px 12px black;
 	background-color: lightgrey;
 	margin: 0 auto;
 	text-align: center;
	font-size: 18px;
	font-family: $font-stack;
 	color: #2F4F4F;
 	line-height: 8vh;

 	a {
 		text-decoration: none;
 		text-transform: uppercase;
		color: #2F4F4F;
		font-family: $font-stack;
 	}

}
.login-submit {
    input[type="submit"] {
      padding:5px 20px;
  }
}
// all sign in links
.signin-links{
	text-decoration: underline;
	font-size: 14px;
}


// ---------Modal 2 - sign_up ------------

// sign up modal
#modal-overlay2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}

.close2 {
	position: absolute;
    padding: 3px;
    margin: 2px;
    right: 0;
    background: rgba(0,0,0,.1);
    color: black;
	z-index: 1;
}
.close2:hover {
    border: 1px solid black;
}

.modal-titles{
	text-align: center;
	margin: 10px;
	text-transform: uppercase;
}

// sign upmodal and page styling
.registration-box {

	width: 30%;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #5F5F5F;
    box-shadow:0 2px 10px #5F5F5F;
 	background-color: white;
 	margin: 0 auto;
 	text-align: center;
 	font-size: 18px;
 	color: #25292E;

 	a {
 		text-decoration: none;
 		text-transform: uppercase;
 		color: #25292E;
 	}

}
.signup-submit {
    input[type="submit"] {
      padding:5px 20px;
  }
}

.back-button{
	text-decoration: underline;
	font-size: 14px;
}

// ------Picture Modal Boxscore-----
.comment_login {
	position: absolute;
	bottom: 10%;
	right: 12%;
	// margin: 10% 12%;
}

.modal_pic{
    width: 70%;
    height: 575px;
    outline: 2px solid purple;
    background-color: lightgrey;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.close3 {
    position: absolute;
    padding: 3px;
    right: 0;
    background: rgba(0,0,0,0);
    color: black;
}

.close3:hover {
    border: 1px solid black;
}

#modal-overlay-pic {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    display: none;

}

.picture-box {
	position: absolute;
	top:0;
	left:0;
	margin: 2%;
	width: 62%;
	float: left;

	textarea {
		margin: 10px;
		resize: none;
		width: 94%;
		height: 120px;
		border: 1px solid black;
	}

}

#pic_show {
    // max-width: 99.5%;
    display: block;
    // height: 40vh;
    height: auto; 
    width: auto;
    // vertical-align: middle;
    margin: 2% auto;
    min-width: 62%;
    max-width: 99.5%; 
    max-height: 475px;
}



#pic_des {
  	text-align: center;
  	padding: 1% 0;
  	border: 1px solid black;
  	border-radius: 2px;
  	margin: 10px auto;
  	font-size: 18px;
  	width: 390px;
  	background-color: rgba(255,255,255,.8);
  	display:block;

}

.commentLabel {
	position: absolute;
	text-decoration: underline;
	top:0; 
	right: 15%;
	// margin-right: 15%;
	font-weight: bolder;
}
.comment {
	padding-bottom: 40px;
}
.comment-box {
	text-align: left;
	padding: 3px;
	border: 1px solid black;
	border-radius: 2px;
	margin: 2% 2% 1%;
	width: 34%;
	float: right;
	overflow: scroll;
	height: 400px;
	background-color: rgba(255,255,255,.8);

	span{
		font-weight: bolder;
	}
}
#comment_box {
	div {
		padding: 5px;
	}

	hr {
		margin-top: 10px;
		border: 0;
    	height: 0;
    	border-top: 1px solid rgba(0, 0, 0, 0.1);
    	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}

	a {
		text-transform: capitalize;
		font-size: 14px;
	}

	p{
		display: inline;
		font-size: 14px;
		line-height: 25px;
	}
}
#comment_form_location {
	clear: both;
	text-align: right;
	margin-right: 2%;

	input[type="submit"] {
		padding: 5px;
		margin: 0 2% 2%;
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: rgba(255,255,255,1);
		border: .5px solid black;
	}

	textarea{
		border-radius: 2px;
		width: 35.4%;
		height: 70px;
		resize: none;
		border: 1px solid black;
		background-color: rgba(255,255,255,.8);
	}
}
