// ---------Modal 1 - sign_in ------------

// login modal
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	width: 43%;
	max-width: 100%;
	height: 50%;
	max-height: 100%;
	background-color: black;
	border: 2px solid;
	z-index: 200;
}

.modal2 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	width: 43%;
	max-width: 100%;
	height: 50%;
	max-height: 100%;
	background-color: black;
	border: 2px solid;
	z-index: 200;
}

#modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}

.close {
	position: absolute;
	right: 0px;
	background-color: black;
	border-radius: 5px;
	color: white;
	z-index: 1;
}



// sign in modal styling
.signin-box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	border-radius: 5px; // padding: 10px;
	border: 1px solid #5F5F5F;
	box-shadow: 0 8px 12px black;
	background-color: lightgrey;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	font-family: $font-stack;
	color: #2F4F4F;
	line-height: 8vh;
	a {
		text-decoration: none;
		text-transform: uppercase;
		color: #2F4F4F;
		font-family: $font-stack;
	}
}
// sign up modal styling

.signup-box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	border-radius: 5px;
	border: 1px solid #5F5F5F;
    box-shadow:0 8px 12px black;
 	background-color: lightgrey;
 	margin: 0 auto;
 	text-align: center;
	font-size: 18px;
	font-family: $font-stack;
 	color: #2F4F4F;
 	line-height: 8vh;

 	a {
 		text-decoration: none;
 		text-transform: uppercase;
		color: #2F4F4F;
		font-family: $font-stack;
 	}

}
// all sign in links
.signin-links{
	text-decoration: underline;
	font-size: 14px;
}


// ---------Modal 2 - sign_up ------------

// sign up modal
#modal-overlay2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}

.close2 {
	position: absolute;
	right: 0px;
	background-color: black;
	border-radius: 5px;
	color: white;
	z-index: 1;
}

.modal-titles{
	text-align: center;
	margin: 10px;
	text-transform: uppercase;
}

// sign upmodal and page styling
.registration-box {

	width: 30%;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #5F5F5F;
    box-shadow:0 2px 10px #5F5F5F;
 	background-color: white;
 	margin: 0 auto;
 	text-align: center;
 	font-size: 18px;
 	color: #25292E;

 	a {
 		text-decoration: none;
 		text-transform: uppercase;
 		color: #25292E;
 	}

}

.back-button{
	text-decoration: underline;
	font-size: 14px;
}

// ------Picture Modal Boxscore-----


.modal_pic{
    width: 70%;
    height: 575px;
    outline: 2px solid purple;
    background-color: lightgrey;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close3 {
    position: absolute;
    padding: 3px;
    right: 0;
    background: rgba(0,0,0,0);
    color: black;
}

.close3:hover {
    border: 1px solid black;
}

#modal-overlay-pic {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.picture-box {
	text-align: center;
	position: absolute;
	top:0;
	left:0;
	margin: 2%;
	width: 46%;
	float: left;

	textarea {
		margin: 10px;
		resize:none;
		width: 94%;
		height: 120px;
		border: 1px solid black;
	}

}

#pic_show {
    // max-width: 99.5%;
    display: block;
    // height: 40vh;
    height: auto; 
    width: auto;
    margin: 0 auto;
    min-width: 50%;
    max-width: 400px; 
    max-height: 325px;
}



#pic_des {
  	text-align: center;
  	padding: 3% 0;
  	border: 1px solid black;
  	border-right: none;
  	font-size: 18px;
  	width: 99.3%;
  	background-color: white;
}

.commentLabel {
	position: absolute;
	text-decoration: underline;
	top:0; 
	right: 23%;
	font-weight: bolder;
}
.comment {
	padding-bottom: 40px;
}
.comment-box {
	text-align: left;
	padding: 1% 2%;
	border: 1px solid black;
	margin: 2% 2% 1%;
	width: 46%;
	float: right;
	overflow: scroll;
	height: 88%;
	background-color: white;

	span{
		font-weight: bolder;
	}
}
