// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.InputBox{
  width: 400px;
  height: 600px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}
.form_field{
  position: relative;
  margin: auto;
}

.pics_container{
   width: 90%;
   padding: 1%;
   border: 1px solid;
   background-color: white;
   margin: 3% auto;
   text-align: center;
   
}

.pic_button{
  width: 20%;
  padding: 2%;
  border: 1px solid;
  background-color: white;
  margin: 3% auto;
  text-align: center;
}

.pic_image{
  cursor: pointer;
  padding: 2%;
}
