
.season_title{
  position: relative;
  text-align: center;
}

.division_box {
  outline: 2px solid grey;
  height: 95%;
  width: 95%;
  margin: 10px auto;
}

.teamStats {
width: 20%;
text-align: left;
}

tr:nth-child(even) {
    background-color: #f6f6f6;
}

table, th, td {
  font-family: $font-stack;
  // text-decoration: none;
  text-align: left;
  padding: 10px;
  border-collapse: collapse;
    // border: 1px solid black;
}

td a {
  text-decoration: none;
}

// season selector
.dropbtn {
  background-color: lightgrey;
  color: black;
  padding: 16px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: slategrey;
  color: white;
}

.selector {
  // position: relative;
  // display: inline-block;
  float: right;
  margin-bottom: 40px;
}

.selector-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 160px;
  z-index: 1;
  right: 5px;
}

.selector-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.selector-content a:hover {
  background-color: lightcoral;
}

// click on to display on dropdown-content
.show {
  display:block;
}