
.headliner .wholeBox{
  width: 50%;
  display: block-inline;
}

.season_title{
  // position: relative;
  text-align: center;
  font-family: $font-stack;
}

.division_box {
  outline: 2px solid grey;
  height: 95%;
  width: 75%;
  margin: 10px auto;
}

.teamStats {
width: 20%;
text-align: left;
}

tr:nth-child(even) {
    background-color: #f6f6f6;
}

table, th, td {
  font-family: $font-stack;
  text-align: left;
  padding: 10px;
  border-collapse: collapse;
}

td a {
  text-decoration: none;
}

// season selector
.dropbtn {
  background-color: lightgrey;
  color: black;
  font-family:$font-stack;
  padding: 16px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: slategrey;
  color: white;
}

.selector {
  float: right;
  margin-bottom: 40px;
  margin-right: 14%;
}
// display set to none so the .show can reveal on show
.selector-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 160px;
  z-index: 1;
  right: 10%;
}

.selector-content a {
  font-family: $font-stack;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.selector-content a:hover {
  background-color: lightcoral;
  color: white;
}

// click on to display on dropdown-content
.show {
  display:block;
}