.season_title{
  position: relative;
  text-align: center;
}
// .division_grid{
//   margin:auto;
//   outline: 1px solid grey;
//   width: 95%;
//   height: 99%;
// }
.division_box{
  outline: 2px solid grey;
  width: 100%;
}

.teamStats {
width: 200px;
}

// season selector
.dropbtn {
  background-color: lightblue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: blue;
}

.selector {
  // position: relative;
  // display: inline-block;
  float: right;
}

.selector-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  right: 0;
}

.selector-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.selector-content a:hover {
  background-color: lightblue;
}

// click on to display on dropdown-content
.show {
  display:block;
}