// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// On pics show page
.comment-submit {
    input[type="submit"] {
      padding:5px 20px;
  }
}

.comment_field {
  resize: none;
  width: 400px;
  height: 80px;
}