.box{
	border: 2px solid black;
	background: grey;
	width: 30%;
	margin: 2px;
}

.font {
	color: white;
	text-decoration: none;
}

// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
