<!-- Page variables -->
<% g = @games %>
<% awayPlayers = g['awayTeam']['awayPlayers']['playerEntry']%>
<% homePlayers = g['homeTeam']['homePlayers']['playerEntry']%>
<% periodScore = g['periodSummary']['period']%>
<% teamCity = g['game']%>
<% teamName = g['game']%>
<% abb = g['game']%>
<% pts = g['periodSummary']['periodTotals']%> 


<h1>Boxscore</h1>

<div>Away QTR Score</div>

<%= abb['awayTeam']['Abbreviation']%> -
<% periodScore.each do |q|%>
	<%= q['awayScore'] %>

<% end %>
<!-- Prints the away team total score -->
<%= pts['awayScore'] %>


<br/>